<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template" >
<head>
    <meta charset="UTF-8">
    <title>Liste produit</title>
</head>
</head>
<body>
<div layout:fragment="contentBody">
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <form class="d-flex col-md-4 ms-2 mt-2 mb-2" method="get" th:action="@{/listeProduits}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="key" th:value="${key}">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Liste des Produits
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th><th>Nom Produit</th><th>Prix</th><th>Date</th><th>Categorie</th>
                    </tr>
                    <tr th:each="p:${pages}">
                        <td th:text="${p.idProduit}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.prixProduit}"></td>
                        <td th:text="${p.dateCreation}" ></td>
                        <td th:text="${p.categorie.nom}" ></td>
                        <td>
                            <a class="btn btn-outline-danger"  sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete(id=${p.idProduit},page=${pageCurrent},key=${key})}">Delete</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" sec:authorize="hasAuthority('ADMIN')" th:href="@{/editeProduit(id=${p.idProduit},page=${pageCurrent},key=${key})}" >Edit</a>
                        </td>
                    </tr>
                </table>
                <ul class="nav nav-pills mt-2 mb-2 ">
                    <li th:each="int,status:${nbrPages}">
                        <a th:class="${status.index==pageCurrent?'btn btn-primary ms-2 ':'btn btn-outlink-dark ms-2'}" th:text="${status.index}" th:href="@{listeProduits(page=${status.index},key=${key})}"></a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>
